{% extends 'donor/base.html' %}

{% block title %}
    PENDING
{% endblock title %}
    
{% block main %}
<div class="login-container">
<form style="color: #fff;">
<h2>Donation Request Pending</h2>
<p style="text-align: center;">Hi {{ donation.name }}, your request is <b style="color:orange;">Pending</b>.</p>
<p style="text-align: center;">You will be notified once the receiver approves your donation.</p>
<a href="{%url 'home'%}" style="font-weight: 700; color: #ffa500; text-transform: uppercase; font-family: poppins;">BACE TO HOME</a>
</form>

</div>
{% endblock %}
